In [5]:
import pandas as pd

features_df = pd.read_csv('jane-street-real-time-market-data-forecasting/features.csv')
features_df.head()

,feature,tag_0,tag_1,tag_2,tag_3,tag_4,tag_5,tag_6,tag_7,tag_8,tag_9,tag_10,tag_11,tag_12,tag_13,tag_14,tag_15,tag_16
0,feature_00,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,True
1,feature_01,False,False,True,False,False,False,False,False,False,False,False,False,False,True,True,False,True
2,feature_02,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True
3,feature_03,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True
4,feature_04,False,False,True,False,False,False,False,False,False,False,False,False,True,True,False,False,True

In [7]:
responders_df = pd.read_csv('jane-street-real-time-market-data-forecasting/responders.csv')
responders_df.head()

     responder  tag_0  tag_1  tag_2  tag_3  tag_4
0  responder_0   True  False   True  False  False
1  responder_1   True  False  False   True  False
2  responder_2   True   True  False  False  False
3  responder_3  False  False   True  False   True
4  responder_4  False  False  False   True   True

In [8]:
sample_submission_df = pd.read_csv('jane-street-real-time-market-data-forecasting/sample_submission.csv')
sample_submission_df.head()

   row_id  responder_6
0       0          0.0
1       1          0.0
2       2          0.0
3       3          0.0
4       4          0.0